<h1><%= @group.name %></h1>

<h2>Members</h2>
<% @group.users.each do |member| %>
  <p><%= link_to member.name, user_path(member) %></p>
<% end %>

<% if @group.users.include?(current_user)%>
  <%= link_to 'Edit group', edit_group_path %><br>
<% end %>
<%= link_to "Invite someone to join", new_group_invitation_path(@group) %><br>
<%= link_to "Leave group", leave_group_path(@group), :method => :delete, data: { confirm: 'Are you sure?' } %>