<p>
  <b>Email:</b>
  <%=h @user.email %>
  </p>
  
  <p>
  <b>Name:</b>
  <%= @user.name %>
  </p>

  <p>
  <%= link_to 'Manage Services', authorizations_path%>

<%= render :partial => 'shared/instagram', :locals => { :user => @user }%>

<p>
    <b>Groups:</b>
    <% if @user.groups.present? %>
    <ul>
        <% for g in @user.groups %>
        <li><%=h link_to g.name, group_path(g) %></li>
        <% end %>
    </ul>
    Or create a <%= link_to "new group.", new_group_path %>
    <% elsif @user == current_user %>
    Why not <%= link_to "start a group?", new_group_path %>
    <% end %>
</p>

<%= link_to 'Edit', edit_account_path unless current_user != @user%>
