<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%=h @user.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @user.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @user.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%=h @user.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
  </p>

  <%= link_to 'Add Google Auth', new_authorization_path%>

<% if @user_instagram.present? %>
  <p>
    <% for media_item in @user_instagram.user_recent_media(:count => 5) %>
      <% if media_item.link %> <a href="<%= media_item.link %>"> <% end %>
      <img src = '<%= media_item.images.thumbnail.url %>' >
      <% if media_item.link %> </a> <% end %>
    <% end %>
  </p>
<% end %>

<p>
    <b>Groups:</b>
    <% if @user.groups.present? %>
    <ul>
        <% for g in @user.groups %>
        <li><%=h link_to g.name, group_path(g) %></li>
        <% end %>
    </ul>
    <% elsif @user == current_user %>
    Why not <%= link_to "start a group?", new_group_path %>
    <% end %>
</p>

<%= link_to 'Edit', edit_account_path unless current_user != @user%>
