<%= form_for(@authorization) do |f| %>
  <% if @authorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authorization.errors.count, "error") %> prohibited this authorization from being saved:</h2>

      <ul>
      <% @authorization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :auth_type %><br />
    <%= f.text_field :auth_type %>
  </div>
  <div class="field">
    <%= f.label :auth_token %><br />
    <%= f.text_field :auth_token %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
